* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* --- COLORS --- */
html {
  --green: rgb(36, 155, 76);
  --cream: rgb(242, 243, 207);
  --yellow: rgb(255, 196, 0);
}

/* --- GRID STYLES --- */
.two-columns__expand-two {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.grid-columns-auto {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

.grid-rows-auto {
  display: grid;
  grid-auto-flow: row;
}

.centered {
  margin: 0 auto;
  width: 550px;
}

/* --- BASE STYLES --- */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

header {
  height: 100px;
  padding: 20px;
  background-color: var(--green);
}

.welcome-page,
.about-me,
.portfolio {
  padding: 100px;
}

h1 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 80px;
}

h2 {
  text-align: center;
}

p {
  margin: 0;
  line-height: 1.5em;
}

/* MAIN STYLES */
/* Header */
.logo {
  font-size: 20px;
  font-weight: 800;
  color: var(--cream);
}

header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-button {
  width: 100px;
  height: 25px;
  color: var(--green);
  background-color: var(--cream);
  border: none;
  border-radius: 8px;
  font-weight: 800;
}

/* Welcome Page */
.welcome-page {
  color: var(--cream);
  background-color: var(--green);
}

.welcome-page u {
  text-decoration-color: var(--yellow);
}

.welcome-page span {
  color: var(--yellow);
  font-weight: 800;
}

/* About Me */
.about-me {
  color: var(--green);
  background-color: var(--cream);
}

.introduction-wrapper,
.technical-skills-wrapper {
  margin: 50px;
}

/* Portfolio */
.portfolio {
  color: var(--green);
  background-color: var(--yellow);
}

.project {
  padding: 20px;
  margin: 10px;
  background-color: var(--cream);
  border: var(--green) 5px solid;
  border-radius: 20px;
}

.project button {
  width: 200px;
  margin: 20px;
}
