* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* COLORS */
html {
  --green: rgb(36, 155, 76);
  --cream: rgb(242, 243, 207);
  --yellow: rgb(255, 196, 0);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/* Header */
header {
  height: 100px;
  padding: 20px;

  background-color: var(--green);
}

.logo {
  font-size: 20px;
  font-weight: 800;
  color: var(--cream);
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.nav-button {
  width: 100px;
  height: 25px;

  color: var(--green);
  background-color: var(--cream);
  border: none;
  border-radius: 8px;

  font-weight: 800;
}
/* Welcome Page */
.welcome-page {
  padding: 100px;
  color: var(--cream);
  background-color: var(--green);
}
.welcome-message-wrapper {
  width: 500px;
}

h1 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 80px;
}

.welcome-page p {
  line-height: 1.5em;
}

.welcome-page span {
  color: var(--yellow);
  font-weight: 800;
}

/* GRID STYLES */
.two-columns__expand-two {
  display: grid;
  grid-template-columns: 2fr 1fr;

  align-items: center;
}

.grid-columns-auto {
  display: grid;
  grid-auto-flow: column;

  place-items: center;
}

.centered {
  margin: 0 auto;
}
